/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 300;
    color: #a4a4a4;
}

h1, h3 {
    color: #000;
}

/* UTILITY */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.px-10 {
    padding: 0 10px;
}

.px-20 {
    padding: 0 20px;
}

.py-10 {
    padding: 10px 0;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* HEADER */
.brand img {
    width: 150px;
    padding-bottom: 30px;
    display: inline-block;
}

.brand > ul > li {
    list-style: none;
    display: inline;
    padding-right: 10px;
}

.brand > ul > li:last-child {
    padding-right: 0;
}

.brand a {
    text-transform: uppercase;
    text-decoration: none;
    color: #a4a4a4;
}

.brand a:hover {
    color: #000;
}

/* HERO SECTION */
.hero {
    width: 100%;
    height: 450px;
    position: relative;
    background-image: url(./img/banner.jpg);
    background-position: center;
}

.dark-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.hero,
.dark-bg {
    border-radius: 10px;
}

.hero-text {
    width: 45%;
    color: #fff;
    position: absolute;
    bottom: 15%;
    left: 4%;
}

/* COLLUM SECTION */

.collum {
    width: 100%;
    display: inline-block;
}

.aside-main {
    float: left;
    width: 20%;
    display: inline;
}

.central-main {
    float: left;
    width: 60%;
}

.img-container-1,
.img-container-2,
.img-container-3 {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-container-1 {
    background-image: url(./img/img-1.jpg);
}

.img-container-2 {
    background-image: url(./img/banner-2.jpg);
}

.img-container-3 {
    background-image: url(./img/img-3.jpg);
}

/* FOOTER */

footer {
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

footer > div > span {
    color: #ff0000;
    font-size: 20px;
}